<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about page</h1>
    <h1>Go About Page:<a href="/">Home</a></h1>
    <br><br>
    <h1> {{lst}} </h1>
    <h2>length is: {{ lst | length }}</h2>
    <h2>age 2+2: {{ age | add:"2" }}</h2>
    <h2>{{ t | addslashes }}</h2>
    <h2>{{ t | capfirst }}</h2>
    <h2>"{{ t | center:"15" }}"</h2>
    <h2>{{ t2 | cut:" " }}</h2>
    <h2>{{ dt | date:"D d M Y" }}</h2>
    <h2>{{ lst2 | dictsort:"age" }}</h2>
    <h2>{{ age | divisibleby:"3" }}</h2>
    <h2>{{ val | filesizeformat }}</h2>
    <h2>{{ lst | first }}</h2>
    <h2>{{ lst | join:" // " }}</h2>
    <h2>{{ lst | last }}</h2>
    <h2>{{ line | linenumbers }}</h2>
    <h2>{{ t | lower }}</h2>
    <h2>{{ name | make_list }}</h2>
    <h2>{{ lst | random }}</h2>
    <h2>{{ lst | slice:":2" }}</h2>
    <h2>{{ lst | slugify }}</h2>
    <h2>{{ dt | time:"H:i" }}</h2>
    <h2>{{ t2 | title }}</h2>
    <h2>{{ t2 | upper }}</h2>
    <h2>{{ t2 | wordcount }}</h2>
    <h2>{{'christmas' | capfirst}}</h2>
    <h2>{{textt | truncatewords:5 }}</h2>
    <h2></h2>
    <h2></h2>
    <h2></h2>
</body>
</html>



